### 1. Lire à partir d'un fichier csv (Exploration_statistique_example.csv)

In [2]:
import pandas as pd

file_path = "../Data/Exploration_statistique_example.csv"
df_stat_csv = pd.read_csv(file_path, sep = ';')
df_stat_csv

,ip,username,date,time,request
0,146.204.224.152,feest6811,21/Jun/2019,15:45:24 -0700,POST /incentivize HTTP/1.1
1,197.109.77.178,kertzmann3129,21/Jun/2019,15:45:25 -0700,DELETE /virtual/solutions/target/web+services ...
2,156.127.178.177,okuneva5222,21/Jun/2019,15:45:27 -0700,DELETE /interactive/transparent/niches/revolut...
3,100.32.205.59,ortiz8891,21/Jun/2019,15:45:28 -0700,PATCH /architectures HTTP/1.0
4,168.95.156.240,stark2413,21/Jun/2019,15:45:31 -0700,GET /engage HTTP/2.0
...,...,...,...,...,...
974,135.186.69.192,***,21/Jun/2019,16:01:58 -0700,PATCH /best-of-breed HTTP/1.1
975,32.86.3.51,***,21/Jun/2019,16:01:59 -0700,GET /optimize/impactful/sexy/channels HTTP/2.0
976,176.68.62.252,turner3261,21/Jun/2019,16:02:00 -0700,GET /viral HTTP/1.1
977,35.86.149.61,zemlak6334,21/Jun/2019,16:02:01 -0700,HEAD /incentivize HTTP/2.0
978,30.95.91.251,larson8319,21/Jun/2019,16:02:02 -0700,PUT /one-to-one/whiteboard HTTP/1.0

### 2. Afficher

#### La taille du tableau

In [4]:
df_stat_csv.shape
#df_stat_csv.size
#df_stat_csv.ndim

(979, 5)

#### Le titre des colonnes

In [8]:
df_stat_csv.columns

Index(['ip', 'username', 'date', 'time', 'request'], dtype='object')

#### Le nombre de lignes

In [9]:
df_stat_csv.shape[0]

979

#### Des informations générales

#### Un résumé des statistiques principales

#### Les 10 premières lignes du dataframe

In [10]:
df_stat_csv.head(10)

,ip,username,date,time,request
0,146.204.224.152,feest6811,21/Jun/2019,15:45:24 -0700,POST /incentivize HTTP/1.1
1,197.109.77.178,kertzmann3129,21/Jun/2019,15:45:25 -0700,DELETE /virtual/solutions/target/web+services ...
2,156.127.178.177,okuneva5222,21/Jun/2019,15:45:27 -0700,DELETE /interactive/transparent/niches/revolut...
3,100.32.205.59,ortiz8891,21/Jun/2019,15:45:28 -0700,PATCH /architectures HTTP/1.0
4,168.95.156.240,stark2413,21/Jun/2019,15:45:31 -0700,GET /engage HTTP/2.0
5,71.172.239.195,dooley1853,21/Jun/2019,15:45:32 -0700,PUT /cutting-edge HTTP/2.0
6,180.95.121.94,mohr6893,21/Jun/2019,15:45:34 -0700,PATCH /extensible/reinvent HTTP/1.1
7,144.23.247.108,auer7552,21/Jun/2019,15:45:35 -0700,POST /extensible/infrastructures/one-to-one/en...
8,2.179.103.97,lind8584,21/Jun/2019,15:45:36 -0700,POST /grow/front-end/e-commerce/robust HTTP/2.0
9,241.114.184.133,tromp8355,21/Jun/2019,15:45:37 -0700,GET /redefine/orchestrate HTTP/1.0

#### Les 10 dernières lignes du dataframe

In [11]:
df_stat_csv.tail(10)

,ip,username,date,time,request
969,98.140.180.244,harber4797,21/Jun/2019,16:01:53 -0700,POST /seize/b2b/synergistic HTTP/2.0
970,54.92.231.149,ziemann5634,21/Jun/2019,16:01:54 -0700,GET /revolutionize/matrix HTTP/2.0
971,96.250.132.151,***,21/Jun/2019,16:01:55 -0700,HEAD /users/revolutionize HTTP/1.1
972,29.193.55.212,***,21/Jun/2019,16:01:56 -0700,DELETE /strategic/e-tailers/scalable HTTP/1.0
973,255.61.55.129,***,21/Jun/2019,16:01:57 -0700,DELETE /applications/infomediaries/reinvent/cu...
974,135.186.69.192,***,21/Jun/2019,16:01:58 -0700,PATCH /best-of-breed HTTP/1.1
975,32.86.3.51,***,21/Jun/2019,16:01:59 -0700,GET /optimize/impactful/sexy/channels HTTP/2.0
976,176.68.62.252,turner3261,21/Jun/2019,16:02:00 -0700,GET /viral HTTP/1.1
977,35.86.149.61,zemlak6334,21/Jun/2019,16:02:01 -0700,HEAD /incentivize HTTP/2.0
978,30.95.91.251,larson8319,21/Jun/2019,16:02:02 -0700,PUT /one-to-one/whiteboard HTTP/1.0