### Import sqlite and pandas, create a database and a table using a cursor

In [1]:
import sqlite3 as sq
import pandas as pd
con = sq.connect('enirys.db')
cursor = con.cursor()
cursor.execute('''CREATE TABLE S (id int primary key, name text not null, age int, adress char(50)) ''')
con.commit()

### Insert rows in table

In [9]:
cursor.execute(''' INSERT INTO S values (1, 'syrine', 24, 'enirys street 24')''')
cursor.execute(''' INSERT INTO S values (2, 'tatou', 23, 'enirys street 23')''')
cursor.execute(''' INSERT INTO S values (3, 'enirys', 22, 'enirys street 22')''')
cursor.execute(''' INSERT INTO S values (4, 'tati', 21, 'enirys street 21')''')
con.commit()

### Delete rows from table

In [6]:
cursor.execute(''' DELETE from S''')
con.commit()

### Select rows from table

In [10]:
cursor.execute('''SELECT id, name, age, adress FROM S''')

### Fetch the results

In [12]:
resultat = cursor.fetchall()
print(resultat)

[(1, 'syrine', 24, 'enirys street 24'), (2, 'tatou', 23, 'enirys street 23'), (3, 'enirys', 22, 'enirys street 22'), (4, 'tati', 21, 'enirys street 21')]

### Show results with a for loop

In [15]:
for row in resultat:
    print('{0}: {1} - {2} | {3}'.format(row[0], row[1], row[2], row[3]))

1: syrine - 24 | enirys street 24
2: tatou - 23 | enirys street 23
3: enirys - 22 | enirys street 22
4: tati - 21 | enirys street 21

### Show results using read_sql_query

In [18]:
df = pd.read_sql_query("SELECT * from S", con)
print(df)

   id    name  age            adress
0   1  syrine   24  enirys street 24
1   2   tatou   23  enirys street 23
2   3  enirys   22  enirys street 22
3   4    tati   21  enirys street 21