### Send a GET request to the API and show response

In [22]:
import requests
import json
import pandas as pd

url = "https://hotels4.p.rapidapi.com/locations/v2/search"

querystring = {"query":"new york","locale":"en_US","currency":"USD"}

headers = {
	"X-RapidAPI-Key": "b822883f03msh43fea7f16822f9dp1df1c2jsn2db4f917ba04",
	"X-RapidAPI-Host": "hotels4.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)
print(response.text)

### Create a json file and copy the response body

In [ ]:
jf = open('jf.json', 'w')
jf.write(response.text)
jf.close()

### Load the json file and show its content

In [9]:
jf = open('jf.json', 'r')
j = json.load(jf)
print(j)

{'term': 'new york', 'moresuggestions': 10, 'autoSuggestInstance': None, 'trackingID': 'b10d8cf7d4584c3eb5d39cf4989f8434', 'misspellingfallback': False, 'suggestions': [{'group': 'CITY_GROUP', 'entities': [{'geoId': '2621', 'destinationId': '1506246', 'landmarkCityDestinationId': None, 'type': 'CITY', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.712843, 'longitude': -74.005966, 'searchDetail': None, 'caption': "<span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'New York'}, {'geoId': '129440', 'destinationId': '1535616', 'landmarkCityDestinationId': None, 'type': 'NEIGHBORHOOD', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.783062, 'longitude': -73.971252, 'searchDetail': None, 'caption': "Manhattan, <span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'Manhattan'}, {'geoId': '6203489', 'destinationId': '1737998', 'landmarkCityDestinationId': None, 'type': 'NEIGHBORHOOD', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.7520567817666, 'longitude': -73.9874924492131, 'searchDetail': None, 'caption': "Midtown, <span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'Midtown'}, {'geoId': '6234083', 'destinationId': '11108016', 'landmarkCityDestinationId': None, 'type': 'REGION', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 43.04737748563339, 'longitude': -75.65465713202158, 'searchDetail': None, 'caption': "Upstate <span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'Upstate New York'}, {'geoId': '602887', 'destinationId': '1489365', 'landmarkCityDestinationId': None, 'type': 'REGION', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.789143, 'longitude': -73.134964, 'searchDetail': None, 'caption': "Long Island, <span class='highlighted'>New</span> <span class='highlighted'>York</span>, United States of America", 'name': 'Long Island'}]}, {'group': 'HOTEL_GROUP', 'entities': [{'geoId': '41080', 'destinationId': '123169', 'landmarkCityDestinationId': None, 'type': 'HOTEL', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 36.102865, 'longitude': -115.17352, 'searchDetail': None, 'caption': "<span class='highlighted'>New</span> <span class='highlighted'>York</span> New York Hotel & Casino, Las Vegas, Nevada, United States of America", 'name': 'New York New York Hotel & Casino'}, {'geoId': '15838', 'destinationId': '115902', 'landmarkCityDestinationId': None, 'type': 'HOTEL', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.758234, 'longitude': -73.985457, 'searchDetail': None, 'caption': "<span class='highlighted'>New</span> <span class='highlighted'>York</span> Marriott Marquis, New York, New York, United States of America", 'name': 'New York Marriott Marquis'}, {'geoId': '19768', 'destinationId': '112922', 'landmarkCityDestinationId': None, 'type': 'HOTEL', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.76225, 'longitude': -73.97874, 'searchDetail': None, 'caption': "<span class='highlighted'>New</span> <span class='highlighted'>York</span> Hilton Midtown, New York, New York, United States of America", 'name': 'New York Hilton Midtown'}, {'geoId': '2896', 'destinationId': '106443', 'landmarkCityDestinationId': None, 'type': 'HOTEL', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.768417, 'longitude': -73.867602, 'searchDetail': None, 'caption': "<span class='highlighted'>New</span> <span class='highlighted'>York</span> LaGuardia Airport Marriott, East Elmhurst, New York, United States of America", 'name': 'New York LaGuardia Airport Marriott'}]}, {'group': 'LANDMARK_GROUP', 'entities': [{'geoId': '6291778', 'destinationId': '124', 'landmarkCityDestinationId': '1506246', 'type': 'LANDMARK', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.75059, 'longitude': -73.993503, 'searchDetail': None, 'caption': "Madison Square Garden, <span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'Madison Square Garden'}, {'geoId': '6056463', 'destinationId': '1707357', 'landmarkCityDestinationId': '1506246', 'type': 'LANDMARK', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.78255312101171, 'longitude': -73.96547122696427, 'searchDetail': None, 'caption': "Central Park, <span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'Central Park'}, {'geoId': '502080', 'destinationId': '1409835', 'landmarkCityDestinationId': '1506246', 'type': 'LANDMARK', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.757410161691084, 'longitude': -73.98618346732785, 'searchDetail': None, 'caption': "Times Square, <span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'Times Square'}]}, {'group': 'TRANSPORT_GROUP', 'entities': [{'geoId': '4933194', 'destinationId': '1662393', 'landmarkCityDestinationId': None, 'type': 'AIRPORT', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.644166, 'longitude': -73.782548, 'searchDetail': None, 'caption': "<span class='highlighted'>New</span> <span class='highlighted'>York</span>, NY, United States of America (JFK-John F. Kennedy Intl.)", 'name': 'New York, NY (JFK-John F. Kennedy Intl.)'}, {'geoId': '4278092', 'destinationId': '1412655', 'landmarkCityDestinationId': None, 'type': 'AIRPORT', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.77429, 'longitude': -73.872035, 'searchDetail': None, 'caption': "<span class='highlighted'>New</span> <span class='highlighted'>York</span>, NY, United States of America (LGA-LaGuardia)", 'name': 'New York, NY (LGA-LaGuardia)'}, {'geoId': '6185978', 'destinationId': '1730462', 'landmarkCityDestinationId': None, 'type': 'TRAIN_STATION', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.75056, 'longitude': -73.994609, 'searchDetail': None, 'caption': "Penn Station, <span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'Penn Station'}]}], 'geocodeFallback': False}

### Afficher les clés

In [13]:
print(j.keys())

dict_keys(['term', 'moresuggestions', 'autoSuggestInstance', 'trackingID', 'misspellingfallback', 'suggestions', 'geocodeFallback'])

### Extraire des champ

In [17]:
print(j['suggestions'][0]['entities'])

[{'geoId': '2621', 'destinationId': '1506246', 'landmarkCityDestinationId': None, 'type': 'CITY', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.712843, 'longitude': -74.005966, 'searchDetail': None, 'caption': "<span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'New York'}, {'geoId': '129440', 'destinationId': '1535616', 'landmarkCityDestinationId': None, 'type': 'NEIGHBORHOOD', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.783062, 'longitude': -73.971252, 'searchDetail': None, 'caption': "Manhattan, <span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'Manhattan'}, {'geoId': '6203489', 'destinationId': '1737998', 'landmarkCityDestinationId': None, 'type': 'NEIGHBORHOOD', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.7520567817666, 'longitude': -73.9874924492131, 'searchDetail': None, 'caption': "Midtown, <span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'Midtown'}, {'geoId': '6234083', 'destinationId': '11108016', 'landmarkCityDestinationId': None, 'type': 'REGION', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 43.04737748563339, 'longitude': -75.65465713202158, 'searchDetail': None, 'caption': "Upstate <span class='highlighted'>New</span> <span class='highlighted'>York</span>, New York, United States of America", 'name': 'Upstate New York'}, {'geoId': '602887', 'destinationId': '1489365', 'landmarkCityDestinationId': None, 'type': 'REGION', 'redirectPage': 'DEFAULT_PAGE', 'latitude': 40.789143, 'longitude': -73.134964, 'searchDetail': None, 'caption': "Long Island, <span class='highlighted'>New</span> <span class='highlighted'>York</span>, United States of America", 'name': 'Long Island'}]

In [27]:
df = pd.DataFrame(j['suggestions'][0]['entities'])
df

,geoId,destinationId,landmarkCityDestinationId,type,redirectPage,latitude,longitude,searchDetail,caption,name
0,2621,1506246,None,CITY,DEFAULT_PAGE,40.712843,-74.005966,None,<span class='highlighted'>New</span> <span cla...,New York
1,129440,1535616,None,NEIGHBORHOOD,DEFAULT_PAGE,40.783062,-73.971252,None,"Manhattan, <span class='highlighted'>New</span...",Manhattan
2,6203489,1737998,None,NEIGHBORHOOD,DEFAULT_PAGE,40.752057,-73.987492,None,"Midtown, <span class='highlighted'>New</span> ...",Midtown
3,6234083,11108016,None,REGION,DEFAULT_PAGE,43.047377,-75.654657,None,Upstate <span class='highlighted'>New</span> <...,Upstate New York
4,602887,1489365,None,REGION,DEFAULT_PAGE,40.789143,-73.134964,None,"Long Island, <span class='highlighted'>New</sp...",Long Island

### Avec la fonction pandas read_json récupérer quelques informations du résultat

In [29]:
df1 = pd.read_json('jf.json')
df1

,term,moresuggestions,autoSuggestInstance,trackingID,misspellingfallback,suggestions,geocodeFallback
0,new york,10,NaN,b10d8cf7d4584c3eb5d39cf4989f8434,False,"{'group': 'CITY_GROUP', 'entities': [{'geoId':...",False
1,new york,10,NaN,b10d8cf7d4584c3eb5d39cf4989f8434,False,"{'group': 'HOTEL_GROUP', 'entities': [{'geoId'...",False
2,new york,10,NaN,b10d8cf7d4584c3eb5d39cf4989f8434,False,"{'group': 'LANDMARK_GROUP', 'entities': [{'geo...",False
3,new york,10,NaN,b10d8cf7d4584c3eb5d39cf4989f8434,False,"{'group': 'TRANSPORT_GROUP', 'entities': [{'ge...",False